#sing-in {
  .container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #6a6a6a;
  }

  .mat-form-field {
    width: 100%;
  }

  ::ng-deep .sing-in-button {
    .mat-button-base {
      width: 100%;
      border-radius: 0;
    }
  }

  .color-line {
    display: flex;
    height: 4px;
    overflow: hidden;
  }

  .color-block {
    width: 20%;
    height: 100%;
  }

  .color-block.first {
    width: 40%;
    background-color: #51b747;
  }

  .color-block:nth-child(2),
  .color-block:nth-child(3) {
    position: relative;
    z-index: 1;
  }

  .color-block:nth-child(2)::before,
  .color-block:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
  }

  .color-block:nth-child(2)::before {
    right: -15%;
    transform: skewX(-45deg);
    width: 124%;
    background-color: #4bbd94;
  }

  .color-block:nth-child(3)::after {
    left: 8%;
    transform: skewX(-45deg);
    width: 105%;
    background-color: #7292cc;

  }

  .color-block:nth-child(4) {
    background-color: #656565;
  }

}
