html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
}
.mat-drawer-container,
.mat-drawer {
  background-color: #fff;
  color: #000;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

form {
  text-align: center;
  label {
    color: #656565;
  }

  .mat-form-field {
    width: 85%;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #4b9c44;
  }

  .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background: #3a9533;
  }
}



.mat-primary .mat-option.mat-selected,
.mat-option-text,
.mat-select-value {
  color: #656565 ;
}

.mat-select-panel:not([class*="mat-elevation-z"]) {
  color: #656565;
  background-color: #fff;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-primary .mat-option-text.mat-selected:not(.mat-option-disabled) {
  background-color: #3a9533;
}
#people-create-edit,
#people-list {
  .background-image {
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .background-overlay {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
  }

  .content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-height: calc(100vh - 100px);
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    padding-top: 10%;
    text-align: center;
    color: #656565;
  }
}
